<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="193.85.203.188"/>
		<add key="Database" value="hornych"/>

		<!-- zde je potřeba yadat udeje k vaší Microsoft SQL -->
		<add key="Name" value="hornych"/>
		<add key="Password" value=""/>

		<!-- Hodnoty pro populaci -->
		<add key="minPopulation" value="50000" />
		<add key="maxPopulation" value="100000000" />

		<!-- Hodnoty pro rozlohu (Area) -->
		<add key="minArea" value="1000" />
		<add key="maxArea" value="1000000000" />

		<!-- Hodnoty pro HDP (Gdp) -->
		<add key="minGdp" value="2000" />
		<add key="maxGdp" value="100000" />
	</appSettings>
</configuration>